/* login.html stylesheet */
.container {
	width: 500px;
    height: 325px;
    border: 1px solid #66CCCC;
    margin: auto;
}

.titlePanel {
	position: relative;
	height: 50px;
	background-color: #2F4F4F;
}

.titlePanel > img{
	position: absolute;
    top: 10px;
    left: 10px;
}

.titlePanel > h1 {
	position: absolute;
	color: rgb(255,255,255);
	font-family: sans-serif;
	font-weight: normal;
	font-size: 20px;
	margin: 0;
	padding:0;
	top:15px;
	left: 55px;
}

.loginButton {
	position: fixed;
    left: 36%;
    top: 19%;
    width: 300px;
}

#loginBtnImg {
	float: left
}